.modal_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}
.open {
  display: block;
  height: 100%;
}

.closed {
  display: none;
  height: 0;
}

.modal_wrapper .open {
  display: block;
  height: 100%;
}

.modal_body {
  width: 1017px;
  height: 507px;
  background-color: white;
  margin: auto;
  box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
  border-radius: 35px;
  margin-top: 80px;
  overflow: hidden;
}

.modal_close {
  .fa-times {
    font-size: 32px;
    margin-left: 971px;
    margin-top: 25px;
    cursor: pointer;
    color: #909090;
  }
}
.modal_body {
  margin-right: 451.5px;
  margin-left: 451.5px;
  p {
    text-align: right;
    width: 100%;
    margin: auto;
    color: black;
    width: 330px;
    height: 65px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 65px;
    line-height: 180%;
    margin-left: 453px;
  }
}
.modal_text {
  width: 524px;
  height: 96px;
  margin-left: 453px;
  margin-right: 40px;
  margin-top: 19px;
  margin-bottom: 41px;
  span {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
  }
}
.img_wrapper {
  margin-right: 629px;
  margin-left: 0;
  margin-top: -485px;
  width: 396px;
  height: 529px;
}
.input {
  height: 50px;
  width: 253px;
  background: #ffffff;
  box-shadow: 0px 0px 1px #052953;
  outline: none;
  margin-left: 453px;
  margin-right: 311px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: 9px;
  padding-left: 20px;

  &::-webkit-input-placeholder {
    /* Edge */
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #909090;
  }

  &:-ms-input-placeholder {
    /* Internet Explorer */
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #909090;
  }

  &::placeholder {
    color: red;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #909090;
  }
}

.field-wrapper {
  width: 65vw;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.request {
  padding-top: 15px;
  color: rgb(255, 145, 0);
}

.submit-btn {
  width: 200px;
  height: 56px;
  margin-left: 453px;
  margin-right: 364px;
  margin-top: 17px;
  background: #c774ee;
  border-radius: 10px;
  outline: none;
  border: 0 transparent;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 100%;
  align-items: center;
  text-align: center;
  color: #ffffff;
  &:hover {
    box-shadow: 0px 5px 10px rgba(76, 174, 80, 0.3);
  }
}
.error_style {
  margin-right: 20px;
}
.err-wrapper {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;

  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -o-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin-left: 0;
  padding-right: 200px; //!
  justify-content: start;
}
