.breadcrumbs {
  color: olivedrab;
  text-transform: capitalize;
  display: inline;
}
.breadcrumbs:hover {
  text-decoration: none; //це має бути лінк
  // background-color: darkseagreen;
  color: rgb(78, 112, 10);
}
.profilename {
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
