.ownstyle {
  &-input {
    width: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid lightgray;
    height: 31px;
    padding: 10px 10px;
  }
  &-button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid lightgray;
    height: 31px;
  }
}
