.hover {
  position: relative;

  &:hover &__hover {
    border: 1px solid lightgray;
    background-color: white;
    left: -19px;
    opacity: 1;
  }

  &__hover {
    position: absolute;
    top: 25px;
    opacity: 0;
  }
  &__no-hover {
    opacity: 1;
  }
}
